.voter {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.voter img {
  max-width: 100%;
  height: auto;
}
.voter .voter-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.voter .voter-inner table {
  width: 100%;
  height: 100%;
}
.voter input[type='checkbox'] {
  display: none;
}
.voter input[type='checkbox'] + label {
  background: url(checkbox-checked.svg);
  background-size: cover;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.voter input[type='checkbox']:checked + label {
  opacity: 1;
}

